<html>
	<body>
		<h2>
			{{nome}}
		</h2>
		<br><br>
		{% for item in lista %}
			<b>Titulo: {{item.Titulo}}</b>
			<br>
			Escolaridade: {{item.Escolaridade}}
			<br>
			Salรกrio inicial: R$ {{item.Salario}},00
			<br>
			Localizacao: {{item.Localizacao}}
			<br>
			Carga Horรกria: {{item.CargaHoraria}}
			<br>
			Detalhes: {{item.Detalhes}}
			<br>
			Link: <a href={{item.link}}>Link</a>
			<br>
			Quantidade de Vagas: {{item.QuantidadeVagas}}
			<br>
			Data postada{{item.DataPostada}}
			<br><br>
		{% endfor %}
	</body>
<html>